
.qHeader{
  margin-top: 10%;
}
.q1Link{
  text-decoration: none;
  color: white;
  &:hover{
    color: white;
  };
}
.Q1A{
  background-color: black;
  cursor: pointer;
}

.form-check{
  padding-bottom: 10px;
}
.form-check-input{
  width: 20px;
  height: 20px;
}
